html {
  font-family: "Unica One", sans-serif;
  color: #fff;
}

h1 {
  top: 3em;
  left: 1em;
  z-index: 20;
  animation: fade 3s ease;
}

#narwhal-eye {
  animation: fade 3s ease;
  opacity: 0;
}

#narwhal-body {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1981.415px;
  stroke-dashoffset: 1981.415px;
}

#rainbow-violet {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
}

#rainbow-indigo {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1812.502px;
  stroke-dashoffset: 1812.502px;
}

#rainbow-blue {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1705.479px;
  stroke-dashoffset: 1705.479px;
}

#rainbow-green {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1596.043px;
  stroke-dashoffset: 1596.043px;
}

#rainbow-yellow {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1483.352px;
  stroke-dashoffset: 1483.352px;
}

#rainbow-orange {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1366.26px;
  stroke-dashoffset: 1366.26px;
}

#rainbow-red {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1243.044px;
  stroke-dashoffset: 1243.044px;
}

@keyframes fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes stroke {

  to {
    stroke-dashoffset: 0;
  }

}
